:root {
  --bg: #0f0f0f;
  --fg: white;
}

body {
  background: var(--bg);
  color: var(--fg);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.heading {
  border-right: 1px solid white;
  padding-right: 1.5rem;
}

.subtext {
  font-size: 1.25rem;
}
